ng-cloak {
    display: none !important;
}

@keyframes rotate360 {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@-webkit-keyframes rotate360 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

.spinner {
  display:inline-block;
  border-radius: 50px;
  border-style: solid;
  border-bottom-color: #3b5641;
  border-top-color: #67b3a9;
  border-left-color: #df7950;
  border-right-color: #decb3f;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  animation: rotate360 1s linear infinite;
  -webkit-animation: rotate360 1s linear infinite;
  border-width: 4px;
  width: 64px;
  height: 64px;
  z-index: 5000;
  position: absolute;
  display: block;
  top: 30%;
  left: 47.5%;
}

.overlay {
    position:fixed;
    display:none; 

    /* color with alpha channel */
    background-color: rgba(0, 0, 0, 0.7); /* 0.7 = 70% opacity */

    /* stretch to screen edges */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
